<div  data-controller="checked" class="big-style">
  <%= simple_form_for(@program) do |f| %>
    <% if @step == 1 %>
      <h2>What is your goal ? </h2>
      <div>
        <%= f.input :goal, collection: Program::GOAL,
                          as: :radio_buttons,
                          label_method: :to_s,
                          item_wrapper_class: 'btn-program'%>
      </div>
    <% end %>
    <% if @step == 2 %>
      <h2>What is your diet ? </h2>
      <div>
        <%= f.input :diet, collection: Program::DIET, as: :radio_buttons, label_method: :to_s, item_wrapper_class: 'btn-program' %>
      </div>
    <% end %>
    <% if @step == 3 %>
      <h2>Do you have any allergies ? </h2>
      <div>
        <%= f.input :allergies, collection: Program::ALLERGIES, as: :check_boxes, label_method: :to_s, item_wrapper_class: 'btn-program', input_html: { multiple: true } %>
      </div>
    <% end %>
    <% if @step == 4 %>
      <h2> How many meals a day ? </h2>
      <div>
        <%= f.input :nb_of_meals_by_day, collection: [2, 3, 4], as: :radio_buttons, label_method: :to_s, item_wrapper_class: 'btn-program '%>
      </div>
    <% end %>
    <% if @step == 5 %>
      <h2> For how many days? </h2>
      <div>
        <%= f.input :nb_of_days, collection: (2..7).to_a, as: :radio_buttons, label_method: :to_s, item_wrapper_class: 'btn-program'%>
      </div>
    <% end %>
    <% if @step == 6 %>
      <h2> Any snacks ? </h2>
      <div>
        <%= f.input :nb_of_snacks, collection: (0..3).to_a, as: :radio_buttons, label_method: :to_s, item_wrapper_class: 'btn-program'%>
      </div>
    <% end %>
    <% if @step == 7 %>
      <h2> Height ? </h2>
      <%= f.input :height %>
      <h2> Weight ? </h2>
      <%= f.input :weight %>
    <% end %>
    <div class="submit_container">
      <div style="text-align:center;margin-top:40px;">
        <span class="step step-fill"></span>
        <span class="step <%= @step > 2 ? "step-fill" : "" %>"></span>
        <span class="step <%= @step > 3 ? "step-fill" : "" %>"></span>
        <span class="step <%= @step > 4 ? "step-fill" : "" %>"></span>
        <span class="step <%= @step > 5 ? "step-fill" : "" %>"></span>
        <span class="step <%= @step > 6 ? "step-fill" : "" %>"></span>
        <span class="step"></span>
      </div>
      <% unless @step == 7 %>
        <%= f.button :submit, "Next", class:"btn-submit" %>
      <% else  %>
        <%= f.button :submit, "Create program", class:"btn-submit" %>
      <% end %>
    </div>
  <% end %>
</div>
</div>
