
<% d = Time.now.day%>
<% m = Time.now.month%>
<% y = Time.now.year %>
<% m31 = [1,3,5,7,8,10,12] %>
<% fev = 2 %>
<% we = (d..d + 6).to_a %>

<%if m31.include?(m)%>
  <% we.map! { |valeur| valeur > 31 ? valeur -= 31 : valeur } %>
<%  elsif m == fev %>
    <% if y/4 == Integer %>
      <% we.map! { |valeur| valeur > 29 ? valeur -= 29 : valeur } %>
    <% else %>
      <% we.map! { |valeur| valeur > 28 ? valeur -= 28 : valeur } %>
    <% end %>
<% else %>
  <% we.map! { |valeur| valeur > 30 ? valeur -= 30 : valeur } %>
<% end %>
<div class="bubble_list">
  <% we.each do |day| %>
    <div class="bubble_container"><a class="calendar_bubble" href="http://127.0.0.1:3000/dashboard"><%= day %></a></div>
  <% end %>
</div>
<h1>Meal plan </h1>
<div>
  <h2>Meals</h2>
  <h3>Breakfast</h3>
   <%= "Oeuf" %>
  <%= "5 min" %>
  <%= "2,50 €" %>
  <% @meals.each do |meal| %>
    <% if meal.meal_type == "breakfast" %>
      <%= meal.name %>
      <%= meal.time %>
      <%= meal.price %>
    <% end %>
  <% end %>
  <h3>Lunch</h3>
   <%= "Lasagne" %>
  <%= "12 min" %>
  <%= "3,50 €" %>
  <% @meals.each do |meal| %>
    <% if meal.meal_type == "Lunch" %>
      <%= meal.name %>
      <%= meal.time %>
      <%= meal.price %>
    <% end %>
  <% end %>
  <h3>Dinner</h3>
  <%= "Quinoa" %>
  <%= "10 min" %>
  <%= "5,50 €" %>
  <% @meals.each do |meal| %>
    <% if meal.meal_type == "Dinner" %>
      <%= meal.name %>
      <%= meal.time %>
      <%= meal.price %>
    <% end %>
  <% end %>
</div>


<%= link_to "Back", dashboard_path, class: "btn-home" %>
<%= link_to "Groceries list", "#", class: "btn-home" %>
 </div>

   <div data-controller="toggle">
      <button data-action="click->toggle#action" class="btn-home">Edit</button>
      <div class="display-none" data-toggle-target="form">
        <%= render partial: 'shared/form_new', locals: { program: @program } %>
      </div>
    </div>
