
<% d = Time.now.day%>
<% m = Time.now.month%>
<% y = Time.now.year %>
<% m31 = [1,3,5,7,8,10,12] %>
<% fev = 2 %>
<% we = (d..d + (@program.nb_of_days - 1)).to_a %>

<%if m31.include?(m)%>
  <% we.map! { |valeur| valeur > 31 ? valeur -= 31 : valeur } %>
<%  elsif m == fev %>
    <% if y/4 == Integer %>
      <% we.map! { |valeur| valeur > 29 ? valeur -= 29 : valeur } %>
    <% else %>
      <% we.map! { |valeur| valeur > 28 ? valeur -= 28 : valeur } %>
    <% end %>
<% else %>
  <% we.map! { |valeur| valeur > 30 ? valeur -= 30 : valeur } %>
<% end %>
<div class="bubble_list">
  <% we.each_with_index do |day, index| %>
    <div class="bubble_container"><%= link_to day, program_path(@program, index: index ), class:'calendar_bubble' %></div>
  <% end %>
</div>



<div class="btn-back-and-groceries">
  <i class="fa-solid fa-backward"><%= link_to "Back", dashboard_path, class: "" %></i>
  <i class="fa-solid fa-cart-shopping"><%=link_to "Groceries list", grocery_program_path(@program)%>
</i>

</div>

<br>
<br>

<div class="container">
  <div class="meal-container">

  <h3><strong>Breakfast</strong></h3>
  <div class="meal-card">
  <div class="img-container" style="background-image: url('https://breakfast-in-america.com/wp-content/uploads/2023/06/BreakfastinAmerica_Pancakes.webp')"></div>
  <div class="meal-card-info img-meal" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://breakfast-in-america.com/wp-content/uploads/2023/06/BreakfastinAmerica_Pancakes.webp'); width: 100%; height: 100%;">
  <% if @breakfast != nil %>
    <%# Breakfast %>
    <li><span>🍽️</span> <%= link_to @breakfast.name, meal_path(@breakfast),class: "white-link"  %></li>
    <li class="white-link"><span>⌛</span> <%= @breakfast.time %></li>
  <% end %>
  </div>
  </div>

  <h3><strong>Lunch</strong></h3>
  <div class="meal-card">
  <div class="img-container" style="background-image: url('https://www.acouplecooks.com/wp-content/uploads/2022/01/Hummus-Bowl-016.jpg')"></div>
  <div class="meal-card-info img-meal" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://www.acouplecooks.com/wp-content/uploads/2022/01/Hummus-Bowl-016.jpg'); width: 100%; height: 100%;">
  <%# Dinner 1 %>
  <% if @dishes[@index_day] != [] %>
    <li><span>🍽️</span> <%= link_to @dishes[@index_day][0].name, meal_path(@dishes[@index_day][0]),class: "white-link" %></li>
    <li class="white-link"><span>⌛</span><%= @dishes[@index_day][0].time%></li>
  <% end %>
  </div>
  </div>


  <h3><strong>Diner</strong></h3>
  <div class="meal-card">
  <div class="img-container" style="background-image: url('https://cache.marieclaire.fr/data/photo/w1000_ci/6g/lasagnes-aux-3-viandes-pate-maison.jpg')"></div>
    <div class="meal-card-info img-meal" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cache.marieclaire.fr/data/photo/w1000_ci/6g/lasagnes-aux-3-viandes-pate-maison.jpg'); width: 100%; height: 100%;">
  <%# Dinner 2  %>
    <% if @dishes[@index_day] != [] %>
      <% if @program.nb_of_meals_by_day > 1 %>
        <li><span>🍽️</span> <%= link_to @dishes[@index_day][1].name, meal_path(@dishes[@index_day][1]),class: "white-link" %></li>
        <li class="white-link"><span>⌛</span><%= @dishes[@index_day][1].time %></li>
      <% end %>
    <% end %>
  </div>
  </div>
  </div>


  <div data-controller="toggle">
    <button data-action="click->toggle#action" class="btn-home">Edit</button>
    <div class="display-none" data-toggle-target="form">
    <%= render partial: 'shared/form_new', locals: { program: @program } %>
  </div>
</div>
</div>
