
<% d = Time.now.day + 1%>
<% m = Time.now.month%>
<% y = Time.now.year %>
<% m31 = [1,3,5,7,8,10,12] %>
<% fev = 2 %>
<% we = (d..d + (@program.nb_of_days - 1)).to_a %>

<%if m31.include?(m)%>
  <% we.map! { |valeur| valeur > 31 ? valeur -= 31 : valeur } %>
<%  elsif m == fev %>
    <% if y/4 == Integer %>
      <% we.map! { |valeur| valeur > 29 ? valeur -= 29 : valeur } %>
    <% else %>
      <% we.map! { |valeur| valeur > 28 ? valeur -= 28 : valeur } %>
    <% end %>
<% else %>
  <% we.map! { |valeur| valeur > 30 ? valeur -= 30 : valeur } %>
<% end %>



<br>


<div class="bubble_list " >
  <div class="month" >
    <% m = Time.now.month%>
    <%= month_name = Date::MONTHNAMES[m]%>
  </div>

 <div class="days">
  <% we.each_with_index do |day, index| %>
    <div class="bubble_container <%= @index_day == index ? "fill" : "" %>">
      <%= link_to day, program_path(@program, index: index), class: 'calendar_bubble' %>
    </div>
  <% end %>
  </div>
</div>

<div class="d-flex justify-content-end">
  <div class="btn-home-main groceries">
    <%=link_to "Shopping", grocery_program_path(@program)%></i>
  </div>
</div>

<br>


<div>
  <div class="meal-container">

  <div class="meal-type">
    <h3>Breakfast</h3>

    <div class="meal-card">
        <% if @breakfast != nil %>
      <div class="img-container" style="background-image: url(<%= @breakfast.photo_url %>)"></div>
      <div class="meal-card-info img-meal" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= @breakfast.photo_url %>); width: 100%; height: 100%;">

          <li><span>🍽️</span> <%= link_to @breakfast.name, meal_path(@breakfast),class: "white-link"  %></li>
          <li class="white-link"><span>⌛</span> <%= @breakfast.time %></li>
        <% end %>
      </div>
    </div>
  </div>

  <div class="meal-type">
    <h3>Lunch</h3>

   <div class="meal-card">
    <% if @dishes[@index_day][0] %>
      <% if @program.nb_of_meals_by_day > 1 %>
      <div class="img-container" style="background-image: url(<%= @dishes[@index_day][0].photo_url %>)"></div>
    <div class="meal-card-info img-meal" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= @dishes[@index_day][0].photo_url %>); width: 100%; height: 100%;">
        <li><span>🍽️</span> <%= link_to @dishes[@index_day][0].name, meal_path(@dishes[@index_day][0]),class: "white-link" %></li>
        <li class="white-link"><span>⌛</span><%= @dishes[@index_day][0].time %></li>
      <% end %>
    <% end %>
      </div>
    </div>
  </div>


  <div class="meal-type">
    <h3>Diner</h3>
  <div class="meal-card">
    <% if @dishes[@index_day][1] %>
      <% if @program.nb_of_meals_by_day > 1 %>
      <div class="img-container" style="background-image: url(<%= @dishes[@index_day][1].photo_url %>)"></div>
    <div class="meal-card-info img-meal" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= @dishes[@index_day][1].photo_url %>); width: 100%; height: 100%;">
        <li><span>🍽️</span> <%= link_to @dishes[@index_day][1].name, meal_path(@dishes[@index_day][1]),class: "white-link" %></li>
        <li class="white-link"><span>⌛</span><%= @dishes[@index_day][1].time %></li>
      <% end %>
    <% end %>

  <%# Dinner 2  %>

  </div>
  </div>
  </div>

</div>
<%= link_to program_path(@program), method: :delete, class: 'delete-link', data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' } do %>
  <i class="fa-solid fa-trash "></i>
<% end %>
<br>
