<% if params[:action] == "index"%>
  <div class="navbar-app-meals">
  <% else %>
    <div class="navbar-app">
    <% end %>
    <div class="navbar-app-display" ::before>
      <%= link_to dashboard_path, class: "navbar-brand" do %>
        <i class="fa-solid fa-house fa-xl" style="color: #ffffff;"></i>
      <% end %>

      <%= link_to new_program_path, class: "navbar-brand" do %>
        <i class="fa-solid fa-plus fa-xl" style="color: #ffffff; font-size: 44px;"></i>
      <% end %>
      <div data-controller="toggle">
        <div data-action="click->toggle#action" class="btn-home-robot">
          <i class="fa-solid fa-robot fa-bounce fa-xl" style=" color:white;"></i>
        </div>
        <div class="d-none" data-toggle-target="form">
          <%= render partial: 'shared/form_chatgpt' %>
        </div>
      </div>
      <% if params[:action] == "programs_dashboard" && @program.id != nil %>

        <%=link_to grocery_program_path(@programs.last.id) do %>
          <i class="fa-solid fa-list fa-xl" style="color: #ffffff;"></i>
        <% end %>
      <% elsif params[:action] == "grocery" %>
        <%=link_to grocery_program_path(@program) do %>
          <i class="fa-solid fa-list fa-xl" style="color: #ffffff;"></i>
        <% end %>
      <% elsif params[:action] == "show" && params[:controller] == "programs" %>
        <%=link_to grocery_program_path(@program) do %>
          <i class="fa-solid fa-list fa-xl" style="color: #ffffff;"></i>
        <% end %>
      <% else %>
        <i class="fa-solid fa-list fa-xl" style="color: #ffffff;"></i>
      <% end %>
    </div>
  </div>
