<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Daily_Nutri.png" %>
      <h2>DailyNutri</h2>
    <% end %>

    <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "navbar-brand" do %>
    <% if user_signed_in? %>
      <% if current_user.profile_picture.attached? %>
        <%= image_tag current_user.profile_picture %>
      <% else %>
        <%= image_tag 'https://maison.20minutes.fr/wp-content/uploads/2021/03/couleur-orange.jpg', style: 'object-fit: cover;' %>
      <% end %>
      <% end %>
    <% end %>
  </div>
</div>
