<div class="dashboard-header">
  <h1 style="margin-top: 2em;">Welcome <%= @user.first_name %> <%= @user.last_name %> 🍊 </h1>

</div>
<% if @programs.count == 0 %>
  <div class="empty-dashboard">
    <p>You don't have any programs yet ! </p>
  </div>
  <%= link_to "Create a program", new_program_path, class: 'btn-home-main', style: "margin-bottom: 20px" %>
<% else %>
  <div class="program-card-container">
    <% @programs.each do |program| %>
      <div class="program-card">
        <%= render partial: 'pages/goal_image', locals: { goal: program.goal } %>
        <div class="program-card-info">
          <p><strong><i class="fa-solid fa-bullseye"></i></strong> <%= program.goal.capitalize %></p>
          <p><strong><i class="fa-solid fa-person"></i></strong> <%= program.total_calories %> Kc.</p>
          <p><strong><i class="fa-regular fa-calendar"></i></strong> <%= program.nb_of_days %> d.</p>
         </div>
        <%= link_to "+", program_path(program), class: "btn-more" %>
    </div>
  <% end %>
</div>
<br>
<br>


<div data-controller="toggle">

  <button data-action="click->toggle#action" class="btn-home" style="background-color: #FFF9EC; border: #FFF9EC;"><i class="fa-solid fa-robot fa-bounce" style="font-size: 40px;"></i></button>

  <div class="display-none" data-toggle-target="form">
    <%= render partial: 'shared/form_chatgpt'%>
  </div>
</div>
