<div class="dashboard-header">
  <h1 style="margin-top: 2em;">Welcome <%= @user.first_name %> <%= @user.last_name %> 🍊 </h1>

</div>

<div class="program-card-container" data-controler="card-selector">
  <% @programs.each do |program| %>
    <%= link_to program_path(program), class: "program-card", data: { action: "click->card-selector#toggleStyle"} do%>
      <div class="program-card">
        <%= render partial: 'pages/goal_image', locals: { goal: program.goal } %>
        <div class="program-card-info">
          <p><i class="fa-solid fa-bullseye"></i><%= program.goal.capitalize %></p>
          <p><i class="fa-solid fa-person"></i><%= program.total_calories %> Kc.</p>
          <p><i class="fa-regular fa-calendar"></i><%= program.nb_of_days %> d.</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div data-controller="toggle">

  <button data-action="click->toggle#action" class="btn-home" style="background-color: #FFF9EC; border: #FFF9EC;"><i class="fa-solid fa-robot fa-bounce" style="font-size: 40px;"></i></button>

  <div class="display-none" data-toggle-target="form">
    <%= render partial: 'shared/form_chatgpt'%>
  </div>
</div>
