<h1>Welcome to your dashboard <%= @user.first_name %> <%= @user.last_name %>!</h1>

<h2>All your programs (<%= @programs.count %>): </h2>

<div class="program-card-container">
  <% @programs.each do |program| %>
    <div class="program-card">
      <%= render partial: 'pages/goal_image', locals: { goal: program.goal } %>
      <div class="program-card-info">
        <p><strong>Goal:</strong> <%= program.goal.capitalize %></p>
        <p><strong>Diet:</strong> <%= program.diet %></p>
        <p> <strong>Calories:</strong> <%= program.total_calories %></p>
        <p> <strong>Caloric goal:</strong> <%= program.calories_goal %></p>
        <p><strong>Number of days:</strong> <%= program.nb_of_days %></p>
        <%= link_to "More info", program_path(program) %>
      </div>
    </div>
  <% end %>
</div>
