<div class="dashboard-header">
  <h1 style="margin-top: 1.5em;">Welcome <%= @user.first_name %> <%= @user.last_name %>  🍊</h1>

</div>

<div class="program-card-container">
  <% @programs.each do |program| %>
    <div class="program-card">
      <%= render partial: 'pages/goal_image', locals: { goal: program.goal } %>
      <div class="program-card-info">
        <p><strong><i class="fa-solid fa-bullseye"></i></strong> <%= program.goal.capitalize %></p>
        <p><strong><i class="fa-solid fa-person"></i></strong> <%= program.total_calories %> c.</p>
        <p><strong><i class="fa-regular fa-calendar"></i></strong> <%= program.nb_of_days %> d.</p>
      </div>
        <%= link_to "More", program_path(program), class: "btn-home-main" %>
    </div>
  <% end %>
</div>
