<div class="container">
  <h1 class="title">Choose your meals</h1>

  <div class="cards-container" data-controller="calories" data-calories-calories-goal-value='<%= @calories_goal %>' data-calories-days-value="<%=@nb_of_meals_by_day%>" data-calories-meals-day-value="<%=@nb_of_days%>" data-calories-min-calorie-value="<%=@min_calorie%>" >
    <%= form_tag(process_meals_program_meals_path, method: :post) do %>
      <% @meals.each do |meal| %>
        <div class="card-trip"data-action="click->calories#updateCalories" data-calories-target='card' data-calories="<%= meal.calories %>">
          <img src="<%= meal.photo_url %>" alt="<%= meal.name %>" >
          <div class="card-info">
            <h1 class="meal-name"><strong><%= meal.name %></strong></h1>
            <div class="additional-info">
              <h4 class="meal-calories"><i class="fa-solid fa-person"></i> <%= meal.calories %> Kcal</h4>
              <input type="checkbox" id="selected_meals_<%= meal.id %>" name="selected_meals[]" value="<%= meal.id %>" class="hidden-checkbox">
              <label for="selected_meals_<%= meal.id %>" class="custom-checkbox"></label>
            </div>
          </div>
        </div>
      <% end %>
      <div id="caloriesCounter">
        <%= submit_tag "Save the meals", class: "btn-meals-sticky" %>
        <p class="sticky-p"><i class="fa-solid fa-person"></i><span data-calories-target="caloriesTotal"></span>/ <span><%= @calories_goal %></span></p>
      </div>
    <% end %>
  </div>
</div>
